body {
    background-color: black;
    color: white;
}
p{
    color:rgb(255, 0, 0);
    font-size:medium;
    text-align:justify;
}
h2{
    text-align: center;
    color: white;
}
article{
    background-color: rgb(44, 43, 43);
}
nav>ul>li {
    color: yellow;
}
.titulo_del_blog{
    text-align: center;
    font-size: 3rem;
}