body {
    background-color: black;
    color: white;
}
p{
    color:rgb(255, 0, 0);
    font-size:medium;
    text-align:justify;
}
h2{
    text-align: center;
    color: white;
}
article{
    background-color: rgb(red, green, blue); 44,43,43;
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff;
}
nav>ul>li {
    color: black;
    
}
nav>ul>li>a {
    text-decoration: none;
}
.titulo_del_blog{ text-align: center; 
font-size: 3rem; 
}
#footerblog{
    margin: 2rem;
}
.ilustracion figcaption{
margin-top: 1rem;
margin-left: 1rem;
font-style: italic;
}
